@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Domine:wght@400..700&family=Marhey:wght@300..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}



html{
    scroll-behavior:smooth;
}

body{
    display:flex;
    flex-direction:column;
    user-select:none;
    /* height: 100vh; */
    overflow-x:hidden;
    position: relative;
}

html,body{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(0, 0, 0);
    position:fixed;
    width:89%;
    padding:15px 20px;
    margin-left:40px;
    margin-top: 8px;
    border-radius:999px;
    z-index:1000;
    box-shadow:0 0 30px rgb(243, 243, 243);
    overflow: hidden;
}

.corn{
    position: fixed;
    left: 100;
    bottom: 20;
    height: 60px;
    margin-left: 79rem;
    margin-top: 10px;
    z-index: 3;
    padding: 15px;
    background-color: rgb(56, 56, 56);
    border-radius: 6pc;
    transition: background 1s;
    box-shadow: 0px 0px 20px yellow;
    border: 1px ridge rgb(182, 182, 182);
    cursor:pointer;
}

.corn:hover{
    background-color: rgb(29, 26, 26);
}

.logo{
    margin-left: 8px;
}

.logo h3{
    color: white;
    font-weight: bold;
    margin: 4px;
    font-family: Castellar;
    font-size: 22px;
    -webkit-box-reflect: below 0.35px
    linear-gradient(transparent,transparent,rgba(3,3,3,0.4));
}

.logo img{
    height:3rem;
    width: 3rem;
}

nav ul{
    display:flex;
    gap:40px;
    list-style:none;
}

nav{
    background-color: rgb(231, 231, 1);
    padding: 10px 30px;
    margin-top: -30px;
    margin-bottom: -30px;
    margin-left: -50rem;
    border-radius: 20px;
}

a{
    font-size:20px;
    color:rgb(12, 11, 11);
    text-decoration:none;
    transition:0.5s;
}

a:hover{
    color:rgb(250, 0, 0);
}

a:active{
    color:aqua;
}

/* CONTAINER */
.container{
    display:flex;
    flex-direction:column;
}

section{
    overflow: hidden;
}

/* FIRST SECTION */
.First-section{
    display:flex;
    align-items:center;
    min-height:100vh;
    background-color: #302f2f;
}

.First-section-div{
    display:flex;
    align-items:center;
    gap:180px;
    margin-left: 30px;
    padding-top: 50px;
}

.Header-image-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.intro{
    height: 50px;
    width: 250px;
    margin-top: 40px;
    background-color: black;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in-out;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0),0px 0px 40px rgba(196, 196, 4,0.32);
}

@keyframes fadeIn{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.intro span{
    position: absolute;
    width: 100%;
    opacity: 0;
    color: white;
    font-size: 2em;
    animation: textChange 64s infinite;
    line-height: 60px;
    margin-left: -120px;
    margin-top: -8px;
    transition: intro span 3s;
}

@keyframes textChange{
    0%{
        opacity: 0;
    }
    11%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}

.intro span:nth-child(1){
    animation-delay: 0s;
    color: red;
}
.intro span:nth-child(2){
    animation-delay: 10s;
    color: blue;
}
.intro span:nth-child(3){
    animation-delay: 20s;
    color: red;
}
.intro span:nth-child(4){
    animation-delay: 30s;
    color: blue;
}
.intro span:nth-child(5){
    animation-delay: 40s;
    color: red;
}
.intro span:nth-child(6){
    animation-delay: 50s;
    color: blue;
}
.intro span:nth-child(7){
    animation-delay: 60s;
    color: red;
}
.intro span:nth-child(8){
    animation-delay: 70s;
    color: blue;
}
.intro span:nth-child(9){
    animation-delay: 80s;
    color: red;
}

.First-section h2{
    font-family:Algerian;
    font-weight: 300;
    font-size:6rem;
    width:500px;
    line-height:110px;
    margin-top: 40px;
    animation: slideInText 1s forwards;
    transform: translateX(-20px);
    opacity: 0;
    color: white;
}

@keyframes slideInText{
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.Header-image-section img{
    height:60vh;
    border-radius:30px;
    transform: translateX(20);
    animation-delay: 0.86s;
    opacity: 0;
    /* transition: 0.56s ease-in; */
    animation: slideInImage 4s forwards;
}



@keyframes slideInImage{
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

/* MIDDLE-SECTION */
.middle-div{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.middle-div-container{
    display: flex;
    width: 90%;
    height: 100%;
    gap:10px;
    margin-top: 15px;
    margin-right: 150px;
}
.middle-image{
    height: 46vh;
    /* width: 28%; */
    object-fit: contain;
    display: flex;
    /* border: 1px solid red; */
    border-radius: 20px;
    overflow-wrap:inherit;
}

/* SECOND SECTION */
.Second-section{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    backdrop-filter: blur(80px) brightness(50%);
    gap:20px;
    padding:50px;
    height: 380vh;
    overflow: hidden;
}

.Second-section-div-container{
    height:500px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    cursor: pointer;
    overflow: hidden;
    transition: border 0.45s;
}
.preview{
    display: flex;
    justify-content: center;
}
.preveiw-div{
    display: flex;
    /* justify-content: space-between; */
    gap: 400px;
    place-content: center;
    place-items: center;
}

.preveiw-div h4{
    font-size: 40px;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    /* font-style: normal; */
}

.preview_btn{
    display:grid;
    grid-template-rows: repeat(4,3fr);
}

/* THIRD SECTION */
.Third-section{
    background:gray;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* LAST SECTION */
.Last-section{
    background:black;
    color:white;
    display:flex;
    justify-content:center;
    padding: 0;
    min-height:50vh;
}

.footer_text{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.footer_text p{
    font-family: Castellar;
    font-size: 28px;
    transition: color 0.76s ease-in-out;
}

.footer_text p:hover{
    color: red;
}

.para_1,.para_2,.para_3,.para_4{
    margin-bottom: 13px;
}
.Last-section h2{
    margin-bottom: 30px;
    text-transform: capitalize;
    color: yellow;
    font-size: 32px;
    font-family: MS UI Gothic;
    font-weight: bold;
}

@media(max-width: 700px){
    header{
        margin-left: 12px;
    }
    .First-section{
        background-color: rgb(180, 59, 59);
        display: flex;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }
    .First-section-div h2{
        font-size: 30px;
        line-height: 50px;
        color: aliceblue;
        display: flex;
        /* font-weight: auto; */
        /* font-family: sans-serif; */
        font-width: 80px;
        text-align: center;
    }

    .First-section-div{
        display: flex;
        flex-direction: column;
        height: 50vh;
        margin-top: -300px;
    }

    .First-section-div img{
        /* margin-left: -15rem; */
        height: 45vh;
        width: 80vh;
    }
    .Header-image-section{
        margin-top: -100px;
    }
    .Second-section{
        height: 800vh;
    }
    .Second-section-div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: auto;
    }
    .space{
        height: 100px;
        width: 70px;
        background-color: rgb(250, 5, 5)
    }
    .Second-section-div-img-2,.Second-section-div-img{
        width: 80vh;
    }
}
/* SCROLL ANIMATION */
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background-color: #000000;
    border-radius: 10px;
    /* width: 15px; */
}
::-webkit-scrollbar-thumb{
    background: #2563eb;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #1d4ed8;
} 